span.css-10trblm.e16nr0p30
{
    font-family: copperplate;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    font-size: 50px;
    transition: width 2s, height 4s;
    border: 20px goldenrod;
    border-radius: 15px;
}

h1 {
  font-family: sans-serif;
  width: 100px;
  height: 100px;
  background-color: red;
  animation-name: text-flow 6s infinite;
  animation-duration: 4s;
}