@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes word-swipe {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  20%, 80% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

span.css-10trblm.e16nr0p30 {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  font-family: copperplate;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  font-size: 50px;
  transition: width 2s, height 4s;
  border: 20px goldenrod;
  border-radius: 15px;
  animation-name: word-swipe, fade-in;
  animation-duration: 5s, 2s;
  animation-timing-function: ease-in-out, ease-in-out;
  animation-iteration-count: infinite;
}
